@import "abstract/variables";

@import "components/app";
@import "components/header";
@import "components/githubprofile";
@import "components/repoInfo";
@import "components/searchbar";

@import "base/reset";
@import "base/typography";

@import "themes/light";

body {
	color: white;
	font-size: 16px;
}

* {
	font-family: $SpaceMono;
	outline: 0;
}
