// colors

// primary
$veryDarkBlue: rgb(20, 28, 47);
$darkBlue: rgb(31, 42, 72);
$violet: rgb(3, 13, 36);
$blue: rgb(2, 120, 254);
$dimBlue: rgb(35, 86, 155);

// light mode
$lightGray: rgb(217, 225, 255);
$white: hsl(0, 0%, 100%);
$grayishBlue: rgb(107, 134, 245);
$grayishDarkBlue: rgb(141, 162, 247);
